<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ translations['error'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="error-page">
        <div class="language-toggle">
            <label class="switch">
                <input type="checkbox" onchange="location = this.checked ? '{{ url_for('home', lang='fa') }}' : '{{ url_for('home', lang='en') }}'" {{ 'checked' if lang == 'fa' else '' }}>
                <span class="slider"></span>
            </label>
            <span class="lang-text">{{ 'فارسی' if lang == 'fa' else 'English' }}</span>
        </div>
        <h1>⚠️ {{ translations['error'] }}</h1>
        <p>{{ translations['error_message'] }}</p>
        <a href="{{ url_for('home', lang=lang) }}" class="go-back-button" >{{ translations['go_back'] }}</a>
    </div>
</body>
</html>
